.sql-table-group {
    display: inline-table;
    margin: 0 20px 20px 0;
    padding: 2px;
}

    .sql-table-group.active {
        background: #014899;
    }

    .sql-table-group .sql-table {
        background: #ffffff;
        border: 1px solid #495057;
        font-size: 12px;
    }

        .sql-table-group .sql-table thead tr {
            border-bottom: 1px solid #495057;
        }

        .sql-table-group .sql-table thead th {
            background-color: #e9ecef;
            color: #495057;
            cursor: pointer;
            padding: 5px 10px;
            text-align: center;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        .sql-table-group .sql-table tbody tr {
            cursor: pointer;
        }

            .sql-table-group .sql-table tbody tr.key {
                font-weight: bold;
            }

            .sql-table-group .sql-table tbody tr.active {
                background: #c8d7eb;
            }

            .sql-table-group .sql-table tbody tr:hover {
                background: #c8d7eb;
            }

        .sql-table-group .sql-table tbody td {
            padding: 3px 6px;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        .sql-table-group .sql-table tfoot tr {
            border-top: 1px solid #495057;
        }

        .sql-table-group .sql-table tfoot th {
            background-color: #e9ecef;
            font-size: 14px;
            color: #495057;
            padding: 5px 10px;
            text-align: right;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

            .sql-table-group .sql-table tfoot th a {
                color: rgba(0,0,0,.4);
            }

                .sql-table-group .sql-table tfoot th a:not(:last-child) {
                    padding-right: .5rem;
                }

                .sql-table-group .sql-table tfoot th a:hover {
                    color: rgba(0,0,0,.8);
                }

        .sql-table-group .sql-table tfoot.disabled,
        .sql-table-group .sql-table tfoot tr .disabled {
            display: none;
        }