body {
    background: transparent url(../img/back.png);
}

.border-bottom-1 {
    border-bottom: 1px solid #606060;
}

.border-left-1 {
    border-left: 1px solid #606060;
}

.text-small {
    font-size: .7rem;
}

.form-label {
    margin-bottom: 0.25rem;
}

.nav-divider {
    width: 1px;
    height: 30px !important;
    margin: 5px;
}

.pr-2 {
    padding-right: .5rem;
}